{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .event-box {

        }

        .tile_override {
            border: 1px solid #ddd;
            border-radius: 4px;
        }
    </style>

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-sm-7 col-sm-offset-1 col-md-6 col-md-offset-3">
            <div class="tile_override">
                <div style="font-weight: bold; font-size: 24px; margin-left: 0.5em">{{ event.title }}</div>
                <div style="margin-left: 2em; margin-top: 1em; color: gray">
                    <div>
                        <span class="fa fa-clock-o"></span> <span
                            class="">{{ event.begin_time|date:"l, F j, Y" }}</span>
                    </div>
                    <div style="margin-left: 1.2em">{{ event.begin_time|date:"H:i" }} UTC
                        {% if event.begin_time|date:"Ymd" == event.end_time|date:"Ymd" %}
                            - {{ event.end_time|date:"H:i" }} UTC
                        {% endif %}
                    </div>
                    {% if event.begin_time|date:"Ymd" != event.end_time|date:"Ymd" %}
                        <div style="margin-top: 0.5em">
                            <span class="fa fa-moon-o"></span> <span>{{ event.begin_time|date:"l, F j, Y" }}</span>
                            <div style="margin-left: 1.2em">{{ event.end_time|date:"H:i" }} UTC</div>
                        </div>
                    {% endif %}
                </div>
                <div style="margin-left: 2em; margin-top: 2em;">
                    {{ event.description }}
                </div>
                <div style="margin-left: 2em; margin-top: 2em;">
                    {% if event.medium == 'online' %}
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        <span style="font-size: 12px">{{ event.medium }}</span>
                    {% else %}
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        <span style="font-size: 12px">{{ event.medium }}</span>
                    {% endif %}
                </div>
                <div style="margin-left: 2em; margin-bottom: 1em">
                    <img style="height: 16px; margin-top: -4px"
                         src="/static/img/language_flags/{{ event.language }}.png" alt=""/> {{ event.display_language }}
                </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="visible-xs" style="margin-top: 2em">Edit</div>

                <div class="btn btn-success btn-block">Edit</div>
                <div class="btn btn-danger btn-block">RSVP</div>

                <div style="margin-top: 3em"></div>
                <div class="btn btn-social btn-twitter btn-block">
                    <span class="fa fa-twitter"></span> Share
                </div>
                <div class="btn btn-social btn-facebook btn-block">
                    <span class="fa fa-facebook"></span> Share
                </div>
                <div class="btn btn-social btn-google btn-block">
                    <span class="fa fa-google"></span> Share
                </div>
                <div class="btn btn-social btn-linkedin btn-block">
                    <span class="fa fa-linkedin"></span> Share
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.search-bar').removeClass('visible-xs').hide();
        });
    </script>
{% endblock %}