{% extends 'base.html' %}
{% load static %}

{% block header %}
    <script src="{% static 'js/events.js' %}"></script>
{% endblock %}

{% block content %}
    <style>
        .tile_override {
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .participant {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 0.25em;
            color: #333333;
            margin: 4px;
        }
        .participant:hover {
            cursor: pointer;
            background-color: lightgoldenrodyellow;
            text-decoration: none;
            color: #333333;
        }

        .participant-box:first-child {
            margin-left: -3px;
        }
    </style>

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-sm-7 col-sm-offset-1 col-md-6 col-md-offset-3">
            <div class="tile_override">
                <div style="font-weight: bold; font-size: 24px; margin-left: 0.5em">{{ event.title }}</div>
                <div style="margin-left: 2em; margin-top: 1em; color: gray">
                    <div>
                        <span class="fa fa-clock-o"></span> <span
                            class="">{{ event.begin_time|date:"l, F j, Y" }}</span>
                    </div>
                    <div style="margin-left: 1.2em">{{ event.begin_time|date:"H:i" }} UTC
                        {% if event.begin_time|date:"Ymd" == event.end_time|date:"Ymd" %}
                            - {{ event.end_time|date:"H:i" }} UTC
                        {% endif %}
                    </div>
                    {% if event.begin_time|date:"Ymd" != event.end_time|date:"Ymd" %}
                        <div style="margin-top: 0.5em">
                            <span class="fa fa-moon-o"></span> <span>{{ event.begin_time|date:"l, F j, Y" }}</span>
                            <div style="margin-left: 1.2em">{{ event.end_time|date:"H:i" }} UTC</div>
                        </div>
                    {% endif %}
                </div>
                <div style="margin-left: 2em; margin-right: 2em; margin-top: 2em;">
                    {{ event.description }}
                </div>
                <div style="margin-left: 2em; margin-top: 2em;">
                    {% if event.medium == 'online' %}
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        <span style="font-size: 12px">{{ event.medium }}</span>
                    {% else %}
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        <span style="font-size: 12px">{{ event.medium }}</span>
                    {% endif %}
                </div>
                <div style="margin-left: 2em; margin-bottom: 1em">
                    <img style="height: 16px; margin-top: -4px"
                         src="/static/img/language_flags/{{ event.language }}.png" alt=""/> {{ event.display_language }}
                </div>
            </div>
            <div style="padding: 4px; font-weight: bold">Participants</div>
            <div class="participant-box" style="padding-top: 10px;">
                <a class="participant" href="https://rbe-network.org/profile/user/{{  event.creator.profile.uid }}">
                    {{ event.creator.username }}
                </a>
                {% for p in participants %}
                    <a class="participant" href="https://rbe-network.org/profile/user/{{ p.user.profile.uid }}">
                        {{ p.user.username }}
                    </a>
                {% endfor %}
            </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="visible-xs" style="margin-top: 2em"></div>

                <a href="https://rbe-network.org/profile/user/{{ event.creator.profile.uid }}" class="btn btn-warning btn-block">Organizer: {{ event.creator.username }}</a>

                {% if request.user == event.creator %}
                    <a href="{% url 'edit_event' event.id %}" class="btn btn-success btn-block">Edit</a>
                {% else %}
                    <div class="btn-group btn-block">
                        <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa {% if participation_status.state == 'not_going' %}fa-close{% else %}fa-check{% endif %}" {% if not participation_status %}style="display: none"{% endif %}></span>
                            <span class="current_status">
                                {% if not participation_status %}
                                    Join
                                {% else %}
                                    {{ participation_status.display_state }}
                                {% endif %}
                            </span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="state-change" data-event-id="{{ event.id }}" data-status="interested">Interested</a></li>
                            <li><a class="state-change" data-event-id="{{ event.id }}" data-status="going">Going</a></li>
                            <li><a class="state-change" data-event-id="{{ event.id }}" data-status="not_going">Not going</a></li>
                        </ul>
                    </div>
                {% endif %}


                <div style="margin-top: 3em"></div>
                <div class="btn btn-social btn-twitter btn-block">
                    <span class="fa fa-twitter"></span> Share
                </div>
                <div class="btn btn-social btn-facebook btn-block">
                    <span class="fa fa-facebook"></span> Share
                </div>
                <div class="btn btn-social btn-google btn-block">
                    <span class="fa fa-google"></span> Share
                </div>
                <div class="btn btn-social btn-linkedin btn-block">
                    <span class="fa fa-linkedin"></span> Share
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.search-bar').removeClass('visible-xs').hide();

            $('.state-change').click(function(){

                var new_status_value = $(this).data('status');
                var event_id = $(this).data('event-id');
                var new_status_display = $(this).html();

                update_event_participation_status(event_id, new_status_value, function(){
                    $('.current_status').html(new_status_display);
                    if (new_status_value == 'not_going'){
                        $('.current_status').prev().removeClass('fa-check').addClass('fa-close').show()
                    }else {
                        $('.current_status').prev().removeClass('fa-close').addClass('fa-check').show()
                    }
                });
            });
        });
    </script>
{% endblock %}